body {
  background-color: rgba(66, 140, 244, 0.8);
}

fieldset {
    display: inline-block;
}

.sm {
  width: 30%;
}

.med {
  width: 60%;
}

footer {
  margin-top: 100px;
}

@media screen and (max-width: 600px) {
  #main-wrapper {
    width: 95%;
  }

  div#userInformation {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  div#userInformation fieldset {
    /*flex-grow: 1;*/
    clear: both;
    display: block;
    width: 100%;
    margin-right: 2%;


  }

  input {
    /*width: 100px;*/
  }

  input[name=age], input[name=ht-feet], input[name=ht-inches], input[name=wt] {
    /*background-color: red;*/
    width: 50px;
  }
}
